body[b-serkdjqo26] {
    background-color: springgreen;
}

form div[b-serkdjqo26] {
    margin-bottom: 15px;
}

form input[b-serkdjqo26] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.login-form[b-serkdjqo26] {
    max-width: 10px;
}

h1[b-serkdjqo26]{
    font-size: 32px;
    font-family: 'syne', Inter, sans-serif;
}