.mb-20 {
  margin-bottom: 20px !important;
}

label {
  margin-bottom: 0.25rem;
  font-size: 12px;
  line-height: 1.25rem;
  color: $grey-dark;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  display: block;
}

.form-control {
  border-color: $grey-light;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  color: $active-color; 
  height: 44px;

  @include input-placeholder {
    color: #676978;
  }

  &.address
  {
    background-image: url('#{$fa-img-path}/search_icon.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 48px;
  }
  &:focus {
    border-color: $grey-dark;
    box-shadow: none;
  }

  &:focus-visible {
    border-color: $grey-dark;
    outline: 0;
  }

  &.error {
    border-color: $red !important;
  }

  &.valid {
    border-color: $green !important;
  }

  &.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

span.error {
  color: $red !important;
}

span.vaild {
  color: $green !important;
}

.input-helper-text {
  font-size: 12px;
  line-height: 1rem;
  color: $grey-dark;
  font-weight: 400;
  letter-spacing: 0.6px;
  display: block;
}

.password-input {
  position: relative;

  input[type="password"] {
    padding-right: 3rem;
  }

  .input-eye-icon {
    position: absolute;
    top: 12px;
    left: auto;
    right: 1rem;
    z-index: 1;
    cursor: pointer;

    img {
      width: 20px;
      display: block;
    }
  }
}

.number-arrow-hide {

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.country-flag-code {
  .iti {
    display: block;
  }

  .iti--separate-dial-code .iti__selected-flag {
    background-color: transparent;
  }

  .iti__flag.iti__ru {
    border-radius: 4px;
    order: 1;
  }

  .iti--separate-dial-code .iti__selected-dial-code {
    font-size: 14px;
    line-height: 1;
  }

  .iti__arrow {
    order: 2;
    border-right: none;
    border-top: none;
    border-left: 1.5px solid #4C4D58;
    border-bottom: 1.5px solid #4C4D58;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    margin-left: 8px;
    margin-top: -2px;
  }

  .iti__selected-dial-code {
    order: 3;
  }
}

.datepicker td,
.datepicker th {
  font-size: 12px;

  .tooltip_icon {
    position: relative;
    width: 20px;
  }
}

.white-bg {
  background-color: $white;
}

.chat-sticky {
  @include button-incognito;
  position: fixed;
  left: auto;
  top: auto;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 9999;
  display: block;

  img {
    width: 55px;
  }
}

.yellow_badge {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.25rem;
  color: $yellow;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: $yellow-light;
}


.ui-menu.ui-autocomplete {
  box-shadow: 0px 0px 3px 0px rgba(56, 58, 68, 0.1);
  border-radius: 8px;
  border: none;
  overflow: hidden;
  z-index: 9999;
  li {
    padding: 0;
    list-style: none;
  }

  .ui-menu-item-wrapper {
    padding: 0.7rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #383A44;
    @include fb;

    &.ui-state-active {
      background: #FAF7FF;
      border-color: #FAF7FF;
    }
  }
}

.loading {
  padding: 20px 0;
  @include pos(fixed,
    0,
    null,
    null,
    0);
  background: rgba(173, 173, 173, 0.61);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99999;

  img {
    @include pos(absolute,
      50%,
      null,
      null,
      50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    max-width: 100px;
  }
}

.text-transform-initial {
  text-transform: initial !important;
}

.file-upload-box {
  position: relative;
  border: 1px dashed #CEB7FE;
  background-color: #FAF7FF;
  border-radius: 8px;

  input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 120px;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  &_inner {
    padding: 1.5rem;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.5;
    color: $grey-dark;
    font-weight: 500;
  }

  &_icon {
    margin-bottom: 1rem;
  }

  &_purple {
    font-size: 1rem;
    line-height: 1.5;
    color: $purple;
  }
}

.file-upload-progress {
  position: relative;
  padding: 0.5rem 4rem 0.5rem 3.5rem;
  background-color: $white;
  min-height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &_icon {
    position: absolute;
    left: 20px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &_close {
    position: absolute;
    right: 20px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }

  &_box {
    width: 100%;
  }

  &_name {
    font-size: 14px;
    line-height: 1.25;
    color: #383A44;
    font-weight: 500;
  }

  &_bar {
    position: relative;
    margin-top: 10px;
    height: 4px;
    border-radius: 8px;
    background-color: #E6E8EE;
    overflow: hidden;
  }

  &_uploaded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0px;
    border-radius: 8px;
    background-color: $purple;
    transition: all 0.3s;
  }

  &_filesize {
    font-size: 14px;
    line-height: 1.25;
    color: #4C4D58;
    font-weight: 400;
  }
}


.mce-tinymce.mce-panel {
  .mce-statusbar.mce-panel {
    display: none;
  }
}

.tag_input {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;

  li {
    &.active {
      color: #5B36D9;
      background: #FAF7FF;
      border-color: #B393FE;
    }

    font-size: 16px;
    color: #2C2E3A;
    font-weight: 400;
    border: 1.5px solid #E6E8EE;
    @include border-radius(40px);
    padding: 0 17px;
    display: flex;
    align-items: center;
    min-height: 44px;
  }
}

.tag_container {
  &.open_tag_input {
    display: block;
  }

  display: none;

  .show_tag_field {
    display: flex;
    align-items: center;
    gap: 20px;

    .addType {
      font-weight: 500;
      color: #784BFD;
    }

    .form-control {
      flex-basis: 79%;
    }
  }
}

.status-badge {
  padding: 3px 10px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #E6E8EE;
  color: $primary-color;

  &.text-green {
    background-color: #E6F8E6;
    color: $green;

  }
}
.radio_button
{
  .form-check
  {
    display: flex;
    gap: 10px;
    border: 1px solid #C6C9D6;
    @include border-radius(8px);
    padding:14px 0 10px 37px;
    &.active
    {
      border-color: #784BFD;
    }
    .form-check-input
      {
        width: 22px;
        height: 22px;
        &:checked
        {
          background-color: #784BFD;
          border-color: #784BFD;
        }
        &:focus
        {
          box-shadow: none;
        }
      }
    .textWrap
    {
      .form-check-label
      {
        margin: 0;
        padding-top: 2px;
        text-transform: capitalize;
        @include fw600;
        color: #383A44;
        font-size: 16px;
        cursor: pointer;
      }
      span
      {
        font-size: 14px;
        color:#4C4D58;
        font-weight: 400;
      }
    }
    
  }
}

.setMinHeight
{
  @include breakpoint(tablet)
  {
    min-height: 370px;
  }
 
}

.bind_pass
{
  position: relative;
}

.bootstrap-select 
{
  .dropdown-menu
  {
    .dropdown-menu
    {
      li
      {
        &.active
        {
          a
          {
            background-color: #e9ecef;
            color: #1e2125;
          }
        }
        a
        {
          &:active
          {
            background-color: #e9ecef;
          }
        }
      }
    }
  }
}

.d_text
{
  color:#2C2E3A;
  @include fw500;
  border-bottom: 1px solid #E6E8EE;
  padding:0 0 9px 0;
  margin-bottom: 12px;
}
.dAmunt
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  label
  {
    @include fw500;
    color: #4C4D58;
  }
  span
  {
    @include fw500;
    color: #2C2E3A;
  }
}

.tooltip {
  --bs-tooltip-bg: #2C2E3A;
}
.table_summery
{
  p
  {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #4C4D58;
  }
  span
  {
    font-size: 16px;
    color: #4C4D58;
    @include fw500;
  }
}