html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #1C1531;
    color: white;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.test-header {
  font-size: 12rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--bs-secondary-color);
}

.navbar-brand {
    background-color: #1C1531 !important; /* cream background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow */
    color: white;
}


.navbar-toggler-icon {
    filter: invert(1);
}