@page
@model WebApp.Pages.CreateUserModel
@{
    ViewData["Title"] = "Create User";
}



<h1>Create User</h1>

<form method="post">
    <table class="createUserTable" id="createUser">
        <thead>
            <tr>
                <!-- This is the row for header-->
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><label asp-for="NewUser.Id"></label></td>
                <td><input asp-for="NewUser.Id" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.FirstName"></label></td>
                <td><input asp-for="NewUser.FirstName" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.LastName"></label></td>
                <td><input asp-for="NewUser.LastName" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.MaidenName"></label></td>
                <td><input asp-for="NewUser.MaidenName" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Age"></label></td>
                <td><input asp-for="NewUser.Age" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Gender"></label></td>
                <td><input asp-for="NewUser.Gender" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Email"></label></td>
                <td><input asp-for="NewUser.Email" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Phone"></label></td>
                <td><input asp-for="NewUser.Phone" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Username"></label></td>
                <td><input asp-for="NewUser.Username" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Password"></label></td>
                <td><input asp-for="NewUser.Password" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.BirthDate"></label></td>
                <td><input asp-for="NewUser.BirthDate" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Image"></label></td>
                <td><input asp-for="NewUser.Image" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.BloodGroup"></label></td>
                <td><input asp-for="NewUser.BloodGroup" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Height"></label></td>
                <td><input asp-for="NewUser.Height" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.Weight"></label></td>
                <td><input asp-for="NewUser.Weight" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewUser.EyeColor"></label></td>
                <td><input asp-for="NewUser.EyeColor" /></td>
            </tr>
        </tbody>
        
    </table>
    <button type="submit">Create User</button>
</form>
<br />



<!-- Another way of showing a partial view:

    <partial name="_TestPartial" />

-->
