body {
    background-color: springgreen;
}

form div {
    margin-bottom: 15px;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.login-form {
    max-width: 10px;
}

h1{
    font-size: 32px;
    font-family: 'syne', Inter, sans-serif;
}