@page  //Makes the file into MVC action. must have .cshtml file extension
@model DisplayDataModel
@{
    ViewData["Title"] = "Display User Data";
}


<environment names="Production">
    <h1> This is in production mode </h1>
</environment>



<h1>Users</h1>

<table class="table" id="tblUsers">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MaidenName</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Image</th>
            <th>BloodGroup</th>
            <th>Height</th>
            <th>Weight</th>
            <th>EyeColor</th>
        </tr>
    </thead>

    <tbody id="UserResults">
        @foreach (var user in Model.Users)
        // Gets the data from UsersPageModel.cs as that is bought in at the top with @model UsersPageModel
        {
            @await Html.PartialAsync("_UsersPartial", user) // Calls the partial 'page' and passes in each user from the Users created in model. 
        }
    </tbody>
</table>






